@import '../../styles/mixings.scss';

.container {
  input {
    height: 40px;
    width: 250px;
    text-align: center;
    border: none;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);

    @include extra-small {
      width: 300px;
    }

    @include small-down {
      width: 300px;
    }

    ::placeholder {
      animation: hideshow;
      opacity: 1;
    }
  }
}

.icon {
  position: absolute;
  left: 130px;
  top: 138px;
  animation-name: hideshow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;

  @include extra-small {
    left: 35px;
  }

  @include small-down {
    left: 35px;
  }
}

.animateIcon {
  position: absolute;
  left: 130px;
  top: 138px;
  animation-name: traslate;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;

  @include extra-small {
    left: 35px;
  }

  @include small-down {
    left: 35px;
  }
}

@keyframes traslate {
  0% {
    transform: translate(-5px);
  }

  100% {
    transform: translate(-10px);
    opacity: 0;
  }
}

@keyframes hideshow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
