@import '../../styles/mixings.scss';

.container {
  display: grid;
  grid-template-rows: 0.5fr 4fr;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 1440px;
  margin-top: 150px;

  @include extra-small {
    width: 300px;
    margin-top: 100px;
    align-items: left;
  }

  @include small-down {
    width: 300px;
    margin-top: 100px;
    align-items: left;
  }
}

.infoContainer {
  display: flex;
  width: 1257px;
  height: 400px;
  gap: 50px;
  align-items: center;
  margin-top: 40px;

  @include extra-small {
    flex-direction: column;
    width: 300px;
    align-items: flex-start;
  }
  @include small-down {
    flex-direction: column;
    align-items: flex-start;
  }

  b {
    font-weight: 800;
    color: var(--color-text-primary);
    font-size: 18;
  }
}

.flagImage {
  width: 600px;
  height: 350px;

  @include extra-small {
    width: 300px;
    margin-left: -12px;
    height: auto;
  }
  @include small-down {
    width: 300px;
    height: auto;
    margin-left: -12px;
  }
}

.borders {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-borders-background);
  width: 100px;
  border-radius: 5px;
}
