@import '../../styles/mixings.scss';

.cardContainer {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5rem;
  row-gap: 5rem;

  a {
    text-decoration: none;
  }

  @include extra-small {
    flex-direction: column;
    margin-left: 2px;
    width: 300px;
    align-items: center;
    gap: 2rem;
  }

  @include small-down {
    flex-direction: column;
    margin-left: 2px;
    width: 300px;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
  }
}

.cardCountries {
  margin-top: 20px;
  width: 265px;
  height: 320px;
  font-family: var(--text--primary-font);
  font-size: 14px;
  background-color: var(--card-background);
  color: var(--color-text-secondary);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  gap: 20px;
  text-decoration: none;

  .cardInfo {
    margin-left: 20px;
  }

  h1 {
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 15px;
    color: var(--color-text-primary);
    font-weight: 800;
  }

  span {
    display: flex;
    gap: 10px;
  }
  b {
    font-weight: 800;
    color: var(--color-text-primary);
    font-size: 16;
  }

  @include extra-small {
    width: 300px;
    height: 350px;
    margin-left: 5px;
    gap: 10px;
  }

  @include small-down {
    width: 300px;
    height: 300px;
    margin-left: 5px;
    gap: 10px;
  }
}

.flagImage {
  height: 150px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  object-fit: fill;
}

.cardImage {
  width: 100%;
  object-fit: fill;
}

.textContainer {
  display: flex;
  width: 250px;
  gap: 5px;
  height: auto;
  align-items: flex-start;
  margin-left: 20px;
  text-decoration: none;
  padding-top: 10px;
}
